{% extends 'fetch/layout.html' %}
{% block main_content %}
    <!-- Start your project here-->
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Welcome to the main page</h1>

            <h5 class="animated fadeIn mb-3">This application is designed to display the group details of the L&T EBG facebook workplace group </h5>

            <p class="animated fadeIn text-muted">Mukul Palit</p>
        </div>
    </div>

    <!-- Footer -->
{% endblock %}